:root {
  --default-blue: #2c3e50;
  --fran-blue: #afcbbe;
  --fran-blue-dark: rgb(77, 152, 121);
  --fran-blue-medium: rgb(139, 186, 166);
  --fran-blue-transparent: rgba(175, 203, 190, 0.70);
  --swiper-theme-color: rgb(139, 186, 166);
}

html {
  background-color: rgb(242, 242, 242);
  /* background-image: url("./assets/placeholders/white-background-2.jpg"); */
  overflow-x: hidden;
  object-fit: cover;
  background-position: center;
}

/* fonts */
.dancing-script {
  font-family: 'Dancing Script', cursive;
}
.tangerine {
  font-family: 'Tangerine', cursive;
}
.arima {
  font-family: 'Arima', cursive;
}
.ibarra {
  font-family: 'Ibarra Real Nova', serif;
}
.dosis {
  font-family: 'Dosis', sans-serif;
}

/* wrapper for page content below nav bar */
.view__content {
  @apply mt-36 md:mt-28 pb-10;
}


/* landing page section title */
.title {
  @apply w-full px-4 py-8 flex justify-center items-center;
}
.title h2 {
  @apply mx-auto px-5 border-gray-500 flex-shrink-0;
  font-size: 1.6rem;
}
.title__decoration {
  @apply w-full bg-gray-500 rounded;
  height: 2px
}
@screen lg {
  .title {
    @apply pt-16 space-x-10;
  }
  .title h2 {
    @apply border-b-2;
    font-size: 2.5rem;
  }
}

/* service and faq page headers */
.pageHeader {
  font-size: 2.5rem;
}
.pageHeader_divider {
  @apply w-full border-t;
  border-color: var(--default-blue);
}

.social__icons {
  @apply w-full flex justify-center space-x-8 pt-1;
}
.social__icon {
  @apply w-8;
}
