:root {
  --default-blue: #2c3e50;
  --fran-blue: #afcbbe;
  --fran-blue-dark: rgb(77, 152, 121);
  --fran-blue-medium: rgb(139, 186, 166);
  --fran-blue-transparent: rgba(175, 203, 190, 0.70);
  --swiper-theme-color: rgb(139, 186, 166);
}

html {
  overflow-x: hidden;
  background-color: rgb(242, 242, 242);
  object-fit: cover;
  background-image: url("./assets/placeholders/white-background-2.jpg");
  background-position: center;
}

/* fonts */
.dancing-script {
  font-family: 'Dancing Script', cursive;
}
.tangerine {
  font-family: 'Tangerine', cursive;
}
.arima {
  font-family: 'Arima', cursive;
}
.ibarra {
  font-family: 'Ibarra Real Nova', serif;
}
.dosis {
  font-family: 'Dosis', sans-serif;
}


/* landing page section title and decoration */
.title {
  @apply w-full px-4 py-8 flex justify-center items-center;
}
.title h2 {
  @apply mx-auto px-5 border-gray-500;
  font-size: 1.8rem;
}
.title__decoration {
  @apply w-full px-10 bg-gray-500 rounded;
  height: 2px
}

@screen lg {
  .title {
    @apply pt-16 space-x-10;
  }
  .title h2 {
    @apply border-b-2;
    font-size: 2.5rem;
  }
}