:root {
  --default-blue: #2c3e50;
  --fran-blue: #afcbbe;
  --fran-blue-dark: rgb(77, 152, 121);
  --fran-blue-medium: rgb(139, 186, 166);
  --fran-blue-transparent: rgba(175, 203, 190, 0.70);
}

html {
  overflow-x: hidden;
}

.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.tangerine {
  font-family: 'Tangerine', cursive;
}

.arima {
  font-family: 'Arima', cursive;
}

.ibarra {
  font-family: 'Ibarra Real Nova', serif;
}

.dosis {
  font-family: 'Dosis', sans-serif;
}
